{% extends "base.html" %}
{% block title %}Set New Password{% endblock %}

{% block content %}
<div class="container">
    <div class="form-container">
        <h2 class="my-4">Set New Password</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}  <!-- Ensure this renders the form fields -->
            <div class="form-group mt-3">
                <button type="submit" class="btn btn-primary">Set Password</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
