{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<div class="background-section signup-section"></div>
<div class="container">
    <div class="form-container">
        <h2 class="my-4">Sign Up</h2>
        <form method="POST" action="{% url 'account_signup' %}" class="needs-validation" novalidate>
            {% csrf_token %}
            {{ form|crispy }}
            {% if form.errors %}
            <div class="alert alert-danger">
                {% for field in form %}
                    {% for error in field.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
            {% endif %}
            <button type="submit" class="btn btn-primary">Sign Up</button>
        </form>
    </div>
</div>
{% endblock %}
