{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Book Race{% endblock %}

{% block content %}
<div class="background-section events-section"></div>
<div class="container section-content">
    <h1>Book Race: {{ race.name }}</h1>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <div>
            <button type="submit" class="btn btn-primary">Book</button>
            <a href="{% url 'events_list' %}" class="btn btn-secondary">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}
