{% extends "base.html" %}
{% block title %}Delete Booking{% endblock %}
{% block content %}
<div class="container profile-section">
    <div class="form-container">
        <h2>Are you sure you want to delete your booking?</h2>
        <p>Race: {{ booking.race.name }}</p>
        <p>Date: {{ booking.race.date }}</p>
        <p>Distance: {{ booking.race.get_distance_display }}</p>
        <p>Location: {{ booking.race.location }}</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Confirm</button>
        </form>
        <a href="{{ manage_booking_url }}" class="btn btn-secondary mt-3">Cancel</a>
    </div>
</div>
{% endblock %}
