{% extends 'base.html' %}

{% block title %}Enter Booking Number{% endblock %}

{% block content %}
<div class="background-section events-section"></div>
<div class="container section-content">
    <div class="form-container">
        <h2 class="my-4">Enter Your Booking Number</h2>
        {% if error_message %}
            <div class="alert alert-danger" role="alert">
                {{ error_message }}
            </div>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" name="booking_number" class="form-control" placeholder="Enter your booking number" required>
            </div>
            <button type="submit" class="btn btn-primary mt-2">Submit</button>
        </form>
        <a href="{% url 'events_list' %}" class="btn btn-secondary mt-3">Return to Events</a>
    </div>
</div>
{% endblock %}
