{% extends 'base.html' %}

{% block title %}{{ event.name }} - {{ event.date }}{% endblock %}

{% block content %}
<div class="background-section events-section"></div>
<div class="container section-content events-container">
    <div class="event-detail">
        <h1>{{ event.name }} - {{ event.date }}</h1>
        <p><strong>Distance:</strong> {{ event.get_distance_display }}</p>
        <p><strong>Location:</strong> {{ event.location }}</p>
        <p>{{ event.description }}</p>
        <a href="{% url 'book_race' event.id %}" class="btn btn-primary">Book this Race</a>
        <a href="{% url 'events_list' %}" class="btn btn-secondary">Back to Events List</a>
    </div>
</div>
{% endblock %}
