{% extends 'base.html' %}

{% block title %}Events - Brendan Doyle Running Club{% endblock %}

{% block content %}
<div class="container profile-section">
    <div class="section-content events-list">
        <h1 class="my-4">Race Events</h1>
        <p>Please select a race distance to enter:</p>
        <div class="row">
            {% for event in events %}
                <div class="col-6 col-md-3"> <!-- Adjusted for a 2x2 grid on small screens -->
                    <div class="list-group-item">
                        <h5>{{ event.name }}</h5>
                        <small>{{ event.date }}</small>
                        <p>Distance: {{ event.get_distance_display }}</p>
                        <small>Location: {{ event.location }}</small>
                        <a href="{% url 'event_detail' event.id %}" class="btn mt-2">View Details</a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <p>If you have already entered a race and wish to manage your booking, please click the button below:</p>
        <a href="{% url 'enter_booking_number' %}" class="btn btn-primary mt-2">Manage Booking</a>
    </div>
</div>
{% endblock %}
