{% extends 'base.html' %}

{% block title %}Manage Booking{% endblock %}

{% block content %}
<div class="background-section events-section"></div>
<div class="container section-content events-container">
    <div class="form-container">
        {% if error_message %}
            <div class="alert alert-danger">{{ error_message }}</div>
        {% endif %}
        {% if booking %}
            <h2 class="my-4">Booking Details</h2>
            <p>Race: {{ booking.race.name }}</p>
            <p>Date: {{ booking.race.date }}</p>
            <p>Distance: {{ booking.race.get_distance_display }}</p>
            <p>Location: {{ booking.race.location }}</p>
            <a href="{% url 'edit_booking' booking.id %}" class="btn btn-secondary mt-2">Edit Booking</a>
            <a href="{% url 'delete_booking' booking.id %}" class="btn btn-danger mt-2">Delete Booking</a>
        {% endif %}
        <a href="{% url 'events_list' %}" class="btn btn-primary mt-2">Back to Events</a>
    </div>
</div>
{% endblock %}
