{% extends 'base.html' %}

{% block title %}About - Brendan Doyle Running Club{% endblock %}

{% block content %}
    <div class="background-section about-section">
        <div class="container section-content">
            <div class="about-container">
                <h2>About Us</h2>
                <p class="about-us-text">Brendan started running his classes in the mall in 2010. It was a couch to 5K organised by Longford Sports Partnership. 
                    When the six weeks were finished, most of the runners wanted to continue running, that’s how Brendan started Brendan Doyle Running. 
                    Some of the people that started back then are still running with us to this day. As the classes got busier, Madeline joined in to
                    help with the beginners. Now we do couch to 5K plus couch to full marathon and everything in between. Most of our classes follow the
                    school year, but we have one class that continues the whole year round for more advanced runners. Every Saturday morning we have 
                    a long run catering to all levels. Some Saturdays we have up to 5 different pace groups running. 
                    Over the years we’ve coached many other clubs. Brendan started running in 1996 when he was living in New York. 
                    He started running to lose weight. In 1998 he completed his first marathon in New York City and again in 1999 just before moving home to Ireland.
                    He has approximately 70 marathons and multiple ultra and half marathons. In 2012 he ran from Sligo to Dublin for charity which consisted 
                    of five consecutive marathons totaling 131 miles.  
                    He did his first Ironman in Nice in 2009 and since then has completed five full Ironman and one double Ironman in 2017. He did The Race in 
                    Donegal twice. It’s Ireland‘s longest endurance race consisting of 250 km in 24 hours. He also qualified for the world championships Ironman 
                    Kona in 2022.
                    Brendan has also done numerous triathlons of various distances. 
                    Madeline started Running in 2010. Her first half marathon was part of the 32 marathons with Gerry Duffy and Ken Whitelaw. She 
                    took part in the Longford leg and then in 2013 she did the Dublin marathon for the first time. She did it again in 2016 and 2019.
                    She did the New York City marathon in 2018 and the three countries marathon in 2022. She completed multiple half marathons, 10k and 5k races. 
                    She has taken part in many sprint triathlons and has done one Olympic triathlon.  
                    Madeline and her three children have taken part in Ireland's Fittest Family in 2020.  
                    In 2015 they both started the Royal Canal Run in Longford. It’s races include 10k, half marathon, full marathon, and ultra marathon. It has grown over the 
                    years and sells out every year with a maximum of 850 runners.</p>
                <h3>Join Us</h3>
                <p>If you’re interested in joining the Brendan Doyle Running Club, we’d love to hear from you! Please contact us or come along to one of our training sessions to see what we’re all about. Together, we can make running a fun and fulfilling part of your life.</p>
            </div>
        </div>
    </div>
{% endblock %}
