{% extends 'base.html' %}

{% block title %}About - Brendan Doyle Running Club{% endblock %}

{% block content %}
    <div class="background-section about-section">
        <div class="container section-content">
            <h2>About Us</h2>

            <div class="image-container">
                <img src="https://res.cloudinary.com/dihqalmzm/image/upload/v1721301425/bdr-4_quk5rr.jpg" alt="Image 1" class="about-image-couple">
            </div>
        
            <div class="about-container">
                <div class="about-us-text">
                    <p>
                        Back in 2010, Brendan began his running classes in the Mall Sports Complex, Longford, 
                        as a couch-to-5K program organized by Longford Sports Partnership. 
                        After the six-week program concluded, most participants wanted to keep up the trainig, 
                        leading to the creation of Brendan Doyle Running Club. 
                        Some of those early runners are still with the club today, and as the classes grew in size, 
                        Madeline stepped in to assist with the beginners. Today, the club offers everything from 
                        couch-to-5K to full marathon training, and everything in between (and beyond). 
                        While most of their classes align with the school year, there is one class that runs year-round 
                        for more advanced runners. Also, every Saturday morning, they organise a long run that can have 
                        up to 5 different pace groups. There's a distance and pace to suit everyone.
                    </p>
                </div>
            </div>
            
            
        
            <div class="image-container">
                <img src="https://res.cloudinary.com/dihqalmzm/image/upload/v1721561330/bdr3_h1vqac.jpg" alt="Image 1" class="about-image-bren">
            </div>

            <div class="about-container">
    <div class="about-us-text">
        <p>
            Brendan started his own running journey in 1996 when he was living in New York. 
            He started running to lose weight, and in 1998 he completed his first 
            marathon in New York City. He ran it again in 1999, just before moving 
            home to Ireland. To date, he has approximately 70 marathons under his belt, multiple 
            half marathons, Ultra Marathons and Triathalons. In 2012 he ran from Sligo to Dublin 
            for charity which consisted of five consecutive marathons totaling 
            210km. He did his first Ironman in Nice in 2009, and since then 
            has completed five full Ironman and one double Ironman in 2017. 
            He did 'The Race' in Donegal twice, which is Ireland's longest endurance 
            race consisting of 250km in 24 hours. He has also qualified for the Ironman 
            world championships in Kona in 2022. In 2015 they both started
            the Royal Canal Run in Longford. It’s races include 10k, half marathon,
            full marathon, and ultra marathon. It has grown over the years and
            sells out every year with a maximum of 850 runners.
        </p>
    </div>
</div>


            <div class="image-container">
                <img src="https://res.cloudinary.com/dihqalmzm/image/upload/v1721561351/bdr5_wpjtyx.jpg" alt="Image 1" class="about-image-mad">
            </div>
        
            <div class="about-container">
                <div class="about-us-text">
                    <p>
                        Madeline started Running in 2010. Her first half marathon was part
                        of the 32 Marathon Challenge with Gerry Duffy and Ken Whitelaw. She took
                        part in the Longford leg, and in 2013 she entered the Dublin
                        marathon for the first time, and again in 2016 and 2019.
                        She ran the New York City marathon in 2018 and the Three Countries
                        Marathon in 2022. She has completed multiple half marathons, 10k and
                        5k races. She has taken part in many sprint triathlons and an
                        Olympic Triathlon. Madeline and her three children have taken
                        part in Ireland's Fittest Family in 2020.
                    </p>
                </div>
            </div>

            <div class="image-container">
                <img src="https://res.cloudinary.com/dihqalmzm/image/upload/v1721561330/bdr-1_hp7mar.jpg" alt="Image 1" class="about-image-club">
            </div>
        
            <div class="about-container">
                <h3>Join Us</h3>
                <p>
                    If you’re interested in joining the Brendan Doyle Running Club, we’d love
                    to hear from you. Together, we can make running a fun
                    and fulfilling part of your life.
                </p>
            </div>
        </div>
        
        
    </div>
{% endblock %}
