{% extends "base.html" %}
{% load static %}

{% block title %}Classes - Brendan Doyle Running Club{% endblock %}

{% block maps_script %}
<script async defer src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&callback=initMap&v=weekly&libraries=marker&loading=async"></script>
{% endblock %}


{% block content %}
<div id="classes" class="background-section classes-section"></div>
<div class="container section-content">
    <h2>Classes</h2>
    <p>We offer various classes for all levels, from beginners to advanced runners.</p>
    <div class="row">
        <div class="col-lg-5 col-md-6 mb-4">
            <div class="classes-list">
                <ul>
                    <li><strong>Where:</strong> Royal Canal, Harbour Row Carpark, Longford<br><strong>When:</strong> Tuesday, 7pm (All year)</li>
                    <li><strong>Where:</strong> The Mall Sports Centre, Longford<br><strong>When:</strong> Wednesday, 7pm (September to May)</li>
                    <li><strong>Where:</strong> Lanesboro Running Track, Longford<br><strong>When:</strong> Monday, 7pm (September to May)</li>
                </ul>
            </div>
        </div>
        <div class="col-lg-7 col-md-6 mb-4">
            <div id="map" class="classes-map">
                <p id="map-fallback" class="fallback-message" style="display: block;">Please refresh the page if the map is not visible.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
