{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Contact - Brendan Doyle Running Club{% endblock %}

{% block content %}
<div class="background-section contact-section"></div>
<div class="container section-content">
    <h2>Contact Us</h2>
    <p>Get in touch with us for more information about our club and how to join.</p>
    <div class="form-container">
        <form method="post" action="{% url 'contact' %}">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary">Send</button>
        </form>
    </div>
</div>
{% endblock %}
