{% extends "base.html" %}

{% block title %}Contact Submission Complete{% endblock %}

{% block content %}
<div class="background-section contact-section"></div>
<div class="container section-content">
    <div class="form-container">
        <h2 class="my-4">Contact Submission Complete</h2>
        <p>Thank you for reaching out to us. We have received your message and will get back to you shortly.</p>
        <a href="{% url 'home' %}" class="btn btn-primary">Return to Home</a>
    </div>
</div>
{% endblock %}
