{% extends "base.html" %}

{% block title %}Events - Brendan Doyle Running Club{% endblock %}

{% block content %}
<div class="background-section events-section"></div>
<div class="container section-content">
    <div class="events-list">
        <h1 class="my-4">Race Events</h1>
        <div class="race-history">
            <h2 class="my-4">The Royal Canal Run</h2>
            <p>
                The Brendan Doyle Running Club's annual race event started in 2015 with the goal of bringing together 
                running enthusiasts of all levels to participate in a challenging yet enjoyable race experience. Held on 
                the banks of the Royal Canal, Longford, the race has grown in popularity over the years, attracting 
                participants from across the region and beyond. With a range of distances including 10K, Half Marathon, Marathon, and 
                the 53K Ultramarathon, there is a challenge suitable for everyone, and the route is also suitable for 
                wheelchair participants. The event is not only a test of speed and endurance but also a celebration of
                community spirit and the joy of running. Whether you're a seasoned runner or new to the sport, the
                Brendan Doyle Running Club's race offers a fantastic opportunity to push your limits and achieve your 
                personal best.
            </p>
            <a href="https://www.popupraces.ie/race/royal-canal-run-longford-2024/" class="btn btn-primary mt-3" target="_blank" rel="noopener noreferrer">
                Visit Race Site
            </a>
        </div>
    </div>
</div>
{% endblock %}
