{% extends "base.html" %}

{% block title %}Password Change Successful{% endblock %}

{% block content %}
<div class="container profile-section no-overlay">
    <div class="form-container form-success">
        <h2 class="my-4 text-center">Password Change Successful</h2>
        <p class="text-center">Your password has been changed successfully.</p>
        <div class="text-center mt-4">
            <a href="{% url 'profile_detail' %}" class="btn btn-primary">Return to Profile</a>
        </div>
    </div>
</div>
{% endblock %}
