@import url('https://fonts.googleapis.com/css2?family=Anton&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

body {
    font-family: Kanit, sans-serif;
    background-color: #115a38e8;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header styles */
.header {
    background-color: #115a38e8;
    padding: 10px 0;
    text-align: center;
}

.header h1 {
    color: #ffffff;
    font-family: Kanit, sans-serif;
}

.navbar .nav-link {
    color: #fff;
    text-decoration: none;
}

.navbar .nav-link:hover {
    color: #dae4da; /* Change color on hover */
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 50px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Main content styles */
main {
    flex: 1;
}

/* Footer styles */
.footer {
    background-color: #dadddae8;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    margin-top: auto; /* Ensures footer is at the bottom */
}

.footer-text {
    margin-bottom: 0; /* Ensures the text is closer to the bottom */
    font-family: Kanit, sans-serif;
    color: #000;
}

/* Forgot password link styles */
#id_password_helptext a {
    color: #dadddae8
}

/* Social icons styles */
.social-icons {
    margin: 10px 0;
    display: flex;
    justify-content: center;
}

.social-icons a {
    margin: 0 100px; /* Increase spacing between icons */
    font-size: 24px;
    text-decoration: none;
    transition: transform 0.5s ease; /* Smooth transition */
}

/* Scale the icon on hover */
.social-icons a:hover {
    transform: scale(2);
}

.fa-facebook {
    color: #1877F2;
}

.fa-instagram {
    background: linear-gradient(45deg, #e91a1a, #e29e3f, #833AB4, #C13584);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-x-twitter {
    color: #000000;
}

.fa-strava {
    color: #FC4C02;
}

/* Form styles */
.form-group {
    margin-bottom: 15px;
}

.form-control {
    max-width: 300px;
    width: 100%;
    padding: 10px;
    font-size: 16px;
}

.btn-primary {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    font-size: 16px;
    background-color: #115a38e8;
    border-color: #115a38e8;
    margin-top: 10px;
}

.btn-primary:hover {
    background-color: #115a38e8;
    border-color: #115a38e8;
}


/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    nav ul li {
        margin-right: 15px; /* Adjust margin for smaller screens */
    }

    .social-icons a {
        margin: 0 10px; /* Adjust margin for smaller screens */
    }
    
    .header, .footer {
        padding: 5px 0; /* Adjust padding for smaller screens */
    }

    .footer-text {
        font-size: 14px; /* Adjust text size for smaller screens */
    }
}

@media (hover: none) {
    .social-icons a {
        transform: scale(1); /* Ensure default scale */
    }
}

/* Disable hover effects for touchscreens */
@media (hover: none) {
    .social-icons a {
        transform: scale(1); /* Ensure default scale */
    }
    .social-icons a:hover {
        transform: none; /* Disable hover scale for touchscreens */
    }
}

/* Enable hover effects for non-touchscreens */
@media (hover: hover) and (pointer: fine) {
    .social-icons a:hover {
        transform: scale(2); /* Scale up on hover for non-touchscreens */
    }
}