@import url('https://fonts.googleapis.com/css2?family=Anton&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

body {
    font-family: Kanit, sans-serif;
    background-color: #d8e7e0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header styles */
.header {
    background-color: #115a38;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    backdrop-filter: blur(10px);
}

.header h1 {
    color: #ffffff;
    font-family: Kanit, sans-serif;
}

/* Navbar styles */
.navbar {
    background: linear-gradient(135deg, #115a38 0%, #34a085 100%);
    width: 100%;
    overflow-x: hidden;
    box-shadow: 0 4px 6px #0000001a;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.offcanvas {
    background-color: #4d4d4d;
    width: 100%;
    max-width: 100%;
}

.offcanvas-header {
    background-color: #115a38;
}

.offcanvas-header .btn-close {
    filter: invert(1);
}

.offcanvas-header h5 {
    color: #f8f9fa;
}

/* Style for the sidebar navigation */
.offcanvas-body {
    background-color: #4d4d4d;
    color: #ffffff;
    padding-left: 15px;
    padding-right: 15px;
}

.offcanvas-body .nav-link {
    color: #ffffff;
    transition: color 0.3s ease;
}

.offcanvas-body .nav-link:hover {
    color: #34a085;
}

.offcanvas-body .nav-link.active {
    color: #ffff00;
}

.offcanvas-body .nav-item {
    margin-bottom: 15px;
}

/* Navbar brand text */
.navbar-brand {
    color: #f8f9fa;
    text-decoration: none;
    transition: color 0.3s ease;
}

.navbar-brand:hover {
    color: #ffff00;
}

/* Remove focus outline on click */
.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

.navbar-toggler {
    border: none;
    padding: 0;
    outline: none;
}

/* Custom burger menu icon */
.animated-icon3 span {
    display: block;
    position: absolute;
    height: 4px;
    width: 30px;
    background: #f8f9fa;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: all 0.25s ease-in-out;
}

.animated-icon3 span:nth-child(1) {
    top: 0px;
}

.animated-icon3 span:nth-child(2) {
    top: 10px;
}

.animated-icon3 span:nth-child(3) {
    top: 20px;
}

.third-button.navbar-toggler {
    position: relative;
    width: 30px;
    height: 24px;
}

.third-button.navbar-toggler .animated-icon3 {
    display: block;
    position: relative;
    width: 30px;
    height: 24px;
}

/* Hover effects for the burger menu icon */
.third-button.navbar-toggler:hover .animated-icon3 span {
    background: #ffff00;
}

/* Main content styles */
main {
    flex: 1;
    padding-top: 80px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#id_password_helptext a {
    color: #FF5733;
    text-decoration: none;
}

/* Profile details styles */
.profile-details {
    padding: 20px;
    border-radius: 8px;
    max-width: 100%;
    color: #eef3ec;
    text-align: center;
    word-wrap: break-word;
}

.profile-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media (min-width: 768px) {
    .profile-buttons {
        flex-direction: row;
        gap: 0;
    }

    .profile-buttons .btn {
        margin: 0 5px;
    }

    .profile-buttons .btn-danger {
        margin-left: 10px;
    }
}

/* Footer styles */
.footer {
    background: linear-gradient(135deg, #daddda 0%, #115a38 100%);
    color: #ffffff;
    text-align: center;
    padding: 5px 0;
    width: 100%;
    margin-top: auto;
    flex-shrink: 0;
    box-shadow: 0 -2px 10px #0000001a;
}

.footer-text {
    margin-bottom: 0;
    font-family: Kanit, sans-serif;
    color: #000000;
    font-size: 12px;
}

/* Social icons styles */
.social-icons {
    margin: 10px 0;
    display: flex;
    justify-content: center;
}

.social-icons a {
    margin: 0 80px;
    font-size: 24px;
    text-decoration: none;
    transition: transform 0.3s ease, color 0.3s ease;
}

.social-icons a:hover {
    transform: scale(1.2);
}

/* Specific styles for social icons */
.fa-facebook {
    color: #1877F2;
}

.fa-instagram {
    background: linear-gradient(45deg, #e91a1a, #e29e3f, #833AB4, #C13584);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.fa-x-twitter {
    color: #000000;
}

.fa-strava {
    color: #FC4C02;
}

/* Media queries for responsive design */
@media (max-width: 992px) {
    .social-icons a {
        margin: 0 40px;
    }
}

@media (max-width: 768px) {
    .social-icons a {
        margin: 0 20px;
    }

    .header, .footer {
        padding: 5px 0;
    }

    .footer-text {
        font-size: 12px;
    }
}

/* Form styles */
.form-container {
    background-color: #4d4d4d;
    opacity: 0.8;
    padding: 10px;
    border-radius: 10px;
    max-width: 450px;
    margin: 10px auto;
    color: #ffffff;
    text-align: center;
}

.form-container h2 {
    font-size: 1.25rem;
}

.form-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    margin-bottom: 8px;
    width: 100%;
}

.form-control {
    max-width: 100%;
    width: 100%;
    padding: 6px;
    font-size: 12px;
    border-radius: 5px;
    border: 1px solid #cccccc;
}

.btn {
    width: 100%;
    max-width: 200px;
    padding: 6px;
    font-size: 12px;
    margin-top: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-primary {
    background-color: #115a38;
    border: none;
    color: #ffffff;
}

.btn-primary:hover {
    background-color: #0d452d;
}

.btn-danger {
    background-color: #dc3545;
    border: none;
    color: #ffffff;
}

.btn-danger:hover {
    background-color: #c82333;
}

.btn-secondary {
    background-color: #777777;
    border: none;
    color: #ffffff;
}

.btn-secondary:hover {
    background-color: #555555;
}

.btn-link {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    color: inherit;
    text-decoration: underline;
    cursor: pointer;
}

/* Background styles for each page */
.background-section {
    position: relative;
}

.background-section::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}

.home-section::before {
    background-image: url('https://res.cloudinary.com/dihqalmzm/image/upload/v1720694645/canal-run_suv7qw.jpg');
    background-color: #d8e7e0;
    background-position: center top 20%;
    opacity: 0.5;
    background-position: 70% 10%;
}

/* Styling and spacing the headings */
.home-section h2 {
    font-size: 4rem;
    color: #fff;
    margin: 20px 0;
    text-shadow: 2px 2px 5px #000000b3;
    font-family: 'Anton', sans-serif;
}

.welcome-div h2 {
    margin-bottom: 100px;
}

.running-for-all-div h2 {
    font-size: 4rem;
    color: #fff;
    margin: 20px 0;
    text-shadow: 2px 2px 5px #000000b3;
    font-family: 'Anton', sans-serif;
    white-space: nowrap;
}

@media (max-width: 768px) {
    .running-for-all-div h2 {
        font-size: 2rem;
    }
}

.about-section::before {
    background-image: url('https://res.cloudinary.com/dihqalmzm/image/upload/v1721301704/bdr-12_wzzlyw.jpg');
    background-color: #d8e7e0;
    background-position: center top 28%;
    opacity: 0.5;
}

.events-section::before {
    background-image: url('https://res.cloudinary.com/dihqalmzm/image/upload/v1721561345/race-finish_wuwvyn.jpg');
    background-color: #d8e7e0;
    background-position: center top 28%;
    opacity: 0.5;
}

.contact-section::before {
    background-image: url('https://res.cloudinary.com/dihqalmzm/image/upload/v1722679396/contact-image_giomig.jpg');
    background-color: #d8e7e0;
    opacity: 0.5;
}

.login-section::before {
    background-image: url('https://res.cloudinary.com/dihqalmzm/image/upload/v1722679395/race-start_huq4qk.jpg');
    background-color: #d8e7e0;
    opacity: 0.5;
}

.signup-section::before {
    background-image: url('https://res.cloudinary.com/dihqalmzm/image/upload/v1721556777/pete_i9k7d9.jpg');
    background-color: #d8e7e0;
    opacity: 0.5;
    background-position: 30% center;
}

.profile-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://res.cloudinary.com/dihqalmzm/image/upload/v1721561341/pete_dusobe.jpg');
    background-size: cover;
    background-position: 30% center;
    background-repeat: no-repeat;
    opacity: 0.5;
    z-index: -1;
}

.members-section::before {
    background-image: url('https://res.cloudinary.com/dihqalmzm/image/upload/v1721561341/canal-run-1_pf1zkg.jpg');
    background-color: #d8e7e0;
    opacity: 0.5;
    background-position: 60% 30%;
}

.classes-section::before {
    background-image: url('https://res.cloudinary.com/dihqalmzm/image/upload/v1721561340/brendan-doyle-solo_y3eeci.jpg');
    background-color: #d8e7e0;
    background-position: center top 28%;
    opacity: 0.5;
}

/* About page */
.about-container {
    background: #00000080;
    padding: 20px;
    border-radius: 10px;
    color: #d8e7e0;
}

.about-container h2, .about-container h3 {
    color: #d8e7e0;
    font-family: 'Kanit', sans-serif;
}

.section-content {
    position: relative;
    z-index: 2;
    text-align: center;
}

.about-image-couple {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 70% 20%;
    border: 2px solid #fff;
    box-shadow: 0 0 10px #000000;
    display: block;
    margin: 20px auto;
}

.about-image-bren {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 85% 20%;
    border: 2px solid #fff;
    box-shadow: 0 0 10px #000000;
    display: block;
    margin: 20px auto;
}

.about-image-mad {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 40% 20%;
    border: 2px solid #fff;
    box-shadow: 0 0 10px #000000;
    display: block;
    margin: 20px auto;
}

.about-image-club {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 40% 20%;
    border: 2px solid #fff;
    box-shadow: 0 0 10px #000000;
    display: block;
    margin: 20px auto;
}

/* Event list styles */
.events-list {
    max-width: 800px;
    margin: 20px auto;
    padding: 10px;
    background-color: #4d4d4d;
    opacity: 0.8;
    border-radius: 8px;
    box-shadow: 0 2px 4px #000000;
    text-align: center;
}

.events-list p {
    font-size: 1.1em;
    color: #e7e7e7;
    margin-bottom: 10px;
}

/* Responsive styles for events */
@media (max-width: 576px) {
    .events-list .row {
        display: flex;
        flex-wrap: wrap;
    }
}

/* Contact Pages*/
.contact-text {
    color: #eaeee5;
}

.contact-container {
    background: #00000080;
    padding: 20px;
    border-radius: 10px;
    color: #d8e7e0;
}

/* Classes */
.classes-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 40px;
    height: 500px;
    width: 500px;
}

.classes-list,
.classes-map {
    background-color: #4d4d4d;
    padding: 20px;
    border-radius: 8px;
    color: #ffffff;
    flex: 1;
    box-sizing: border-box;
    min-width: 45%;
}

.classes-list ul {
    list-style: none;
    padding: 0;
}

.classes-list li {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 8px;
    background-color: #ffffff;
    color: #000000;
}

.classes-map {
    position: relative;
    height: 100%;
}

/* Message inside the map container */
.fallback-message {
    color: #FF0000;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
    .classes-container {
        flex-direction: column;
        align-items: stretch;
        height: auto;
    }

    .classes-list,
    .classes-map {
        height: auto;
        width: 100%;
        max-width: 100%;
    }

    .classes-map {
        min-height: 300px;
    }
}

/*Members Area*/
.members-info {
    margin: 20px auto;
    max-width: 100%;
    width: 100%;
    padding: 20px;
    background-color: #4d4d4d;
    opacity: 0.8;
    border-radius: 10px;
    color: #ffffff;
    text-align: center;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
    line-height: 1.6;
}

.members-intro p {
    margin-bottom: 10px;
}

/* GPX File List and Upload Container */
.gpx-file-upload, .gpx-file-list {
    margin: 20px auto;
    max-width: 100%;
    width: 100%;
    padding: 20px;
    background-color: #4d4d4d;
    opacity: 0.8;
    border-radius: 10px;
    color: #ffffff;
    text-align: center;
    box-sizing: border-box;
}

.gpx-file-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

.gpx-file-list li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #ffffff;
    color: #000000;
    border-radius: 5px;
}

.gpx-file-list li p {
    margin: 0;
}

/* Center buttons in the GPX file list */
.gpx-file-list .btn-group {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.gpx-file-list .btn {
    color: #ffffff;
    padding: 8px 16px;
}

/* GPX File Upload Form */
.gpx-file-upload {
    max-width: 400px;
    padding: 20px;
    background-color: #4d4d4d;
    opacity: 0.8;
    border-radius: 10px;
    color: #ffffff;
    text-align: center;
    box-sizing: border-box;
    margin: 0 auto;
}

.gpx-file-upload-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.gpx-file-upload form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.gpx-file-upload h3 {
    font-size: 1.5em;
    margin-bottom: 20px;
    word-wrap: break-word;
}

.gpx-file-upload .form-group {
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gpx-file-upload .form-control,
.gpx-file-upload input[type="file"] {
    max-width: 250px;
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #cccccc;
    box-sizing: border-box;
}

.gpx-file-upload input[type="file"] {
    padding-left: 10px;
}

.gpx-file-upload .form-group label {
    width: 100%;
    display: block;
    text-align: left;
    margin-bottom: 5px;
}

.gpx-file-upload .btn {
    max-width: 200px;
    padding: 8px;
    font-size: 14px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    margin: 10px auto 0 auto;
}

/* Media Queries */
/* Reduce white space in GPX file list on tablet size */
@media (max-width: 992px) {
    .gpx-file-list ul {
        padding: 0;
        margin: 0;
    }

    .gpx-file-list li {
        margin-bottom: 10px;
        padding: 10px;
        border-radius: 8px;
        background-color: #ffffff;
        box-shadow: 0 2px 4px #0000001a;
    }
}

@media (max-width: 768px) {
    .gpx-file-upload, .gpx-file-list {
        padding: 15px;
    }

    .gpx-file-upload .form-control, .gpx-file-upload .btn {
        font-size: 12px;
    }

    .gpx-file-list .btn-group {
        flex-direction: column;
        gap: 10px;
    }
}

@media (min-width: 769px) {
    .gpx-file-upload, .gpx-file-list {
        padding: 20px 40px;
    }
}

/* Toast message styles */
.toast-container {
    position: fixed;
    top: 5rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1055;
}

.toast {
    min-width: 300px;
    max-width: 90%;
}
