@import url('https://fonts.googleapis.com/css2?family=Anton&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

body {
    font-family: Kanit, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #65EB5E;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

h1 {
    color: #ffffff;
}

p {
    font-family: Kanit, sans-serif;
    color: #ffff;
}

main {
    flex: 1;
}

footer {
    background-color: #65EB5E;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}

.social-icons {
    margin: 10px 0;
}

.social-icons a {
    color: #fff;
    margin: 0 10px;
    font-size: 24px;
    text-decoration: none;
}

.social-icons a:hover {
    color: #dae4da;
}

/* Form styles */
form {
    width: 300px;
    max-width: 90%;
    padding: 1em;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 1em;
    box-shadow: 0 0 10px #0000001a;
}

form div + div {
    margin-top: 1em;
}

label {
    display: inline-block;
    width: 90%;
    text-align: left;
    color: #333;
}
input, textarea {
    font: 1em sans-serif;
    max-width: 100%;
    box-sizing: border-box;
    border: 1px solid #999;
    padding: 0.5em;
    border-radius: 0.25em;
}

input:focus, textarea:focus {
    border-color: #000;
}

textarea {
    vertical-align: top;
    height: 5em;
}

.btn-primary {
    background-color: #28a745; 
    border-color: #28a745;
}

.btn-primary:hover {
    background-color: #218838; 
    border-color: #1e7e34;
}

.logout-text {
    color: #000;
}