{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Add GPX File{% endblock %}

{% block content %}
<div class="background-section members-section"></div>
<div class="container section-content">
    <h2 class="my-4">Add GPX File</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Add</button>
        <a href="{% url 'my_members' %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock %}
