{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Members Area{% endblock %}

{% block content %}
<div class="container">
    <h2>Members Area</h2>
    <p>Welcome to the members area. Here you can manage your profile and access club-related materials.</p>

    <!-- Podcast Links -->
    <div class="podcast-links">
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="https://res.cloudinary.com/dihqalmzm/image/upload/v1720630412/choose-strong-podcast_whiqcu.jpg" class="card-img-top" alt="Irishman Running Abroad Podcast" style="max-width: 100%; height: auto;">
                    <div class="card-body">
                        <h5 class="card-title">Choose Strong Podcast</h5>
                        <a href="https://open.spotify.com/show/0b3F87c5WWeMCmrx3Uzdlv" target="_blank" class="btn btn-primary">Listen Now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="https://res.cloudinary.com/dihqalmzm/image/upload/v1720630415/irishman-running-abroad-podcast_w89r3g.jpg" class="card-img-top" alt="Runner's World Podcast" style="max-width: 100%; height: auto;">
                    <div class="card-body">
                        <h5 class="card-title">An Irishman Abroad Podcast</h5>
                        <a href="https://open.spotify.com/show/1ixwgnQc2VbiqFmyiaszFz" target="_blank" class="btn btn-primary">Listen Now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="https://res.cloudinary.com/dihqalmzm/image/upload/v1720630411/trail-running-ireland-podcast_okbu75.jpg" class="card-img-top" alt="Ironman Insider Podcast" style="max-width: 100%; height: auto;">
                    <div class="card-body">
                        <h5 class="card-title">Trail Running Ireland Podcast</h5>
                        <a href="https://open.spotify.com/show/1niEDHbGblpwAy3KtvwniI" target="_blank" class="btn btn-primary">Listen Now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="https://res.cloudinary.com/dihqalmzm/image/upload/v1720630417/the-fuel-better-podcast_qxcwvr.jpg" class="card-img-top" alt="Choose Strong Podcast" style="max-width: 100%; height: auto;">
                    <div class="card-body">
                        <h5 class="card-title">The Fuel Better Podcast</h5>
                        <a href="https://open.spotify.com/show/0UeDiL9TDyJ9nDSeI3CLVb" target="_blank" class="btn btn-primary">Listen Now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="https://res.cloudinary.com/dihqalmzm/image/upload/v1720630414/ironman-insider-podcast_dfcs4b.jpg" class="card-img-top" alt="Trail Running Ireland Podcast" style="max-width: 100%; height: auto;">
                    <div class="card-body">
                        <h5 class="card-title">Ironman Insider Podcast</h5>
                        <a href="https://open.spotify.com/show/0jsImuZLxLni0JwOVq0dPG" target="_blank" class="btn btn-primary">Listen Now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="https://res.cloudinary.com/dihqalmzm/image/upload/v1720630411/runner_s-world-podcast_i69xmi.jpg" class="card-img-top" alt="The Fuel Better Podcast" style="max-width: 100%; height: auto;">
                    <div class="card-body">
                        <h5 class="card-title">Runner's World Podcast</h5>
                        <a href="https://open.spotify.com/show/4BhyfIvCRYG2GghYZzoYib" target="_blank" class="btn btn-primary">Listen Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
