{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Members Area{% endblock %}

{% block content %}
<div class="background-section events-section"></div>
<div class="container section-content">
    <h2 class="my-4">Members Area</h2>
    <p>Welcome to the members area. Here you can manage your profile and access club-related materials.</p>

    <!-- Podcast Links -->
    <div class="podcast-links">
        <div class="row row-cols-2 row-cols-md-3 row-cols-lg-6 g-4">
            <div class="col">
                <div class="card card-scale">
                    <img src="https://res.cloudinary.com/dihqalmzm/image/upload/v1720630412/choose-strong-podcast_whiqcu.jpg" class="card-img-top img-fluid" alt="Choose Strong Podcast">
                    <div class="card-body">
                        <a href="https://open.spotify.com/show/0b3F87c5WWeMCmrx3Uzdlv" target="_blank" class="btn btn-primary btn-sm">Listen Now</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card card-scale">
                    <img src="https://res.cloudinary.com/dihqalmzm/image/upload/v1720630415/irishman-running-abroad-podcast_w89r3g.jpg" class="card-img-top img-fluid" alt="An Irishman Abroad Podcast">
                    <div class="card-body">
                        <a href="https://open.spotify.com/show/1ixwgnQc2VbiqFmyiaszFz" target="_blank" class="btn btn-primary btn-sm">Listen Now</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card card-scale">
                    <img src="https://res.cloudinary.com/dihqalmzm/image/upload/v1720630411/trail-running-ireland-podcast_okbu75.jpg" class="card-img-top img-fluid" alt="Trail Running Ireland Podcast">
                    <div class="card-body">
                        <a href="https://open.spotify.com/show/1niEDHbGblpwAy3KtvwniI" target="_blank" class="btn btn-primary btn-sm">Listen Now</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card card-scale">
                    <img src="https://res.cloudinary.com/dihqalmzm/image/upload/v1720630417/the-fuel-better-podcast_qxcwvr.jpg" class="card-img-top img-fluid" alt="The Fuel Better Podcast">
                    <div class="card-body">
                        <a href="https://open.spotify.com/show/0UeDiL9TDyJ9nDSeI3CLVb" target="_blank" class="btn btn-primary btn-sm">Listen Now</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card card-scale">
                    <img src="https://res.cloudinary.com/dihqalmzm/image/upload/v1720630414/ironman-insider-podcast_dfcs4b.jpg" class="card-img-top img-fluid" alt="Ironman Insider Podcast">
                    <div class="card-body">
                        <a href="https://open.spotify.com/show/0jsImuZLxLni0JwOVq0dPG" target="_blank" class="btn btn-primary btn-sm">Listen Now</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card card-scale">
                    <img src="https://res.cloudinary.com/dihqalmzm/image/upload/v1720630411/runner_s-world-podcast_i69xmi.jpg" class="card-img-top img-fluid" alt="Runner's World Podcast">
                    <div class="card-body">
                        <a href="https://open.spotify.com/show/4BhyfIvCRYG2GghYZzoYib" target="_blank" class="btn btn-primary btn-sm">Listen Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
